@charset "UTF-8";

html, body, header, nav, main, footer, div, section, article, aside {
    margin:0;
    padding:0;
}

html {
    font-size: 16px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ee/Grumpy_Cat_by_Gage_Skidmore.jpg");
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    text-align: right;
    list-style: none;
}

nav li {
    display: inline;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    padding: 0.5rem;
    background-color: red;
    color: #ebe6dc;
}

nav a:hover,
nav a:active {
    background-color: pink;
    color: #dfb666;
}
#thisPage {
    background-color: #9d7010;
    color: #ebe6dc;
}

h1,
h3 {
    color: blue;
}
h2 {
    color: red;
}

h1 {
    border-bottom: 4px dotted #802808;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
}

a:link,
a:visited {
    color: #000000;
}

a:hover,
a:active {
    color: #000000;
    background-color: #FC6;
}

img {
    max-width: 100%;
    border-radius: 20px;
}

.floatRight {
    float: right;
    width: 300px;
    max-width:50%;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer {
    clear: both;
    margin-top: 2rem;
    border-top:1px solid #666666;
    font-style: italic;
}
